.header__email {
    margin: 0 24px 0 0;
    font-weight: 500;
    font-size: inherit;
}

@media (max-width: 450px) {
    .header__email {
        margin: 0 5px 0 0;
        font-size: 14px;
        line-height: 17px;
        max-width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}