.popup__form {
    max-width: 430px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 650px) {
    .popup__form {
        max-width: 282px;
    }
}
