.element__heart-button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart-button.svg);
}

.element__heart-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

