.profile__personal-info {
    display: flex;
    flex-direction: row;
}

@media (max-width: 770px) {
    .profile__personal-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
