.profile__info {
    margin-left: 29px;
    max-width: 336px;
    color: #FFFFFF;
    font-style: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

@media (max-width: 770px) {
    .profile__info {
        margin: 26px 0 0;
        justify-content: center;
    }
}