.auth {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    padding: 60px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .auth {
        padding: 40px 0;
    }
}
