.popup__form_submit_image {
    max-width: 75vw;
    max-height: 75vh;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

@media (max-width: 650px) {
    .popup__form_submit_image {
        min-width: 240px;
    }
}